
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redireccionando a ASEA...</title>
    Usted ha salido del tramite....
</head>
<body>
    <div>
    </div>
</body>
</html>
