<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UrlForm" value="https://form.serift8-qa.ift.org.mx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlFormApi" value="https://form-api.serift8-qa.ift.org.mx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlPortalReg" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlFormViewer" value="https://wapvekformviewer.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTracking" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTemplate" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlSignature" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlVerify" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentId" value="63A88572-BB31-4C40-B672-7A3CCCC26069" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Identity" value="https://wapfonacotidentity.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientName" value="https://localhost:44397" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiKey" value="$%ER43089R-dsf" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>