<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--VEK-->
    <!--<add key="UrlForm" value="https://wapvekform.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlFormApi" value="https://apikarakform.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlPortalReg" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlFormViewer" value="https://wapvekformviewer.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTracking" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTemplate" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlSignature" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlVerify" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentId" value="63A88572-BB31-4C40-B672-7A3CCCC26069" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Identity" value="https://wapkidentity.azurewebsites.net/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientName" value="undani:formviwer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiKey" value="$%ER43089R-dsf" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->

    <!--FONACOT-->
    <add key="UrlForm" value="https://wapfonacotformprod.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlFormApi" value="https://apifonacotformprod.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="UrlPortalReg" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlFormViewer" value="https://wapfonacotformviewerprod.azurewebsites.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTracking" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlTemplate" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlSignature" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UrlVerify" value="https://google.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EnvironmentId" value="63A88572-BB31-4C40-B672-7A3CCCC26069" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Identity" value="https://login.fonacot.gob.mx" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ClientName" value="undani:formviewer" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ApiKey" value="$%ER43089R-dsf" xdt:Transform="Replace" xdt:Locator="Match(key)" />

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>