<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Undani.Template.Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" >
<environmentVariables>
          <environmentVariable name="OWNER" value="" />
          <environmentVariable name="SYSTEM" value="" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
</aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 7b806b53-ede3-47cd-b8ae-a2bac259f377-->